#Compile object files
*.slo
*.lo
*.o
*.ko
*.swp

#Compile Static liabraries
*.lai
*.la
*.a
*.lib

#database files
*.db
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#Executable
*.out
*.exe
*.app

#Headers
*.h.gch

#Backup files
*~

#Python code
*.pyc

#CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Build
build

#Video files
*.avi
*.mp4

#HTML
*.html

# References
# https://github.com/github/gitignore
# Add if any entry not present here.

*.db
